body {
  background-color: mistyrose
}
#background {
  background-image: url("background.jpg")
}
body {
  font-family: "Arial"
}
h1 {
    text-align: center;
}
#picture1 {
  text-align: left;
}
#picture2 {
  text-align: center;
}
#picture3 {
  text-align: right;
}
